<ion-header>
  <ion-navbar color="primary">
    <ion-title class="logo-header-img">
      <img src="./assets/img/nwlogo.png"  height="30"> 
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="login-page">

  <ion-list>
    <div class="logo">
      <h1>LOGIN</h1>
    </div>
<!--
    <form #loginForm="ngForm" novalidate>
      <ion-item padding>
        <ion-label class="labe2" floating primary>Member Number</ion-label>
        <ion-input [(ngModel)]="login.username" ngControl="username1" 
        type="number" #username1="ngForm"  required >
        </ion-input>
      </ion-item>
      <p [hidden]="username1.valid || submitted === false" danger padding-left>
        Member Number is required
      </p>

      <ion-item padding>
        <ion-label class="labe2" floating primary>Password</ion-label>
        <ion-input [(ngModel)]="login.password" ngControl="password1" type="password" #password1="ngForm"  required>
        </ion-input>
      </ion-item>
      <p [hidden]="password1.valid || submitted === false" danger padding-left>
        Password is required
      </p>


        <div>
          <button (click)="onLogin(loginForm, login.username, login.password )" type="submit"  large full continue
          [disabled]="!username1.valid || !password1.valid">Continue</button>
        </div>

  </form> -->
<!--  
  <ion-card class="ion-card-img">
    <img src="img/logonw.jpg"/> 
  </ion-card>

  <div class="logo-img-card">
    <div>
  
    </div>
  </div>-->

   <form (ngSubmit)="logForm()" #form="ngForm" novalidate>
      <ion-item padding>
        <ion-label floating color="primary">Member Number</ion-label>
        <ion-input type="text" [(ngModel)]="login.username" 
        name="username" required #memberN="ngModel"></ion-input>
       <ion-label *ngIf=" memberN.invalidate " color="danger">
          Algo aqui
        </ion-label>
         <p [hidden]="memberN.valid || submitted === false" color="danger" padding-left>
        Member Number is required
      </p>
      </ion-item>
      
    
      <ion-item padding>
        <ion-label floating color="primary">Password</ion-label>
        <ion-input [(ngModel)]="login.password" name="pass" required #passw></ion-input>
      </ion-item>

    

        <button ion-button type="submit" large block 
      color="continue" (click)="onLogin(form, login.username, login.password)"
      [disabled]="!form.valid">
      LOGIN
      </button>

    </form>


<div class="background">
    <img class="stretch" src="./assets/img/logonw.jpg">
  </div>

   </ion-list> 
</ion-content>
