<ion-header>
  <ion-navbar color="primary">
    <ion-title class="logo-header-img">
      <img src="./assets/img/nwlogo.png"  height="30"> 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-page">

  <ion-list>
    <div class="logo">
      <h1>SIGNIN</h1>
    </div>
   <form  (ngSubmit)="logForm()" #form="ngForm" novalidate>
     
      <div *ngFor=" let option of titles"> 
        <ion-item>
          <p class="labe1" color="primary">{{option.title}}</p>
          <p> answer: {{option.answerOk}} </p>
        </ion-item>
      </div> 

      <ion-item padding>
        <ion-label floating color="primary">Member Number</ion-label>
        <ion-input type="text" #answers="ngModel" name="signin" [(ngModel)]="signup.answer"
        required >
        </ion-input>
      </ion-item><!--[(ngModel)]="signup.answer"-->


      <button ion-button large block color="continue" type="submit"
      (click)="onSignup(form,signup.answer)" [disabled]="!answers.valid" >
      Sign in</button>
 </form>
   
  </ion-list>

  <div class="background">
    <img class="stretch" src="./assets/img/logonw.jpg">
  </div>

</ion-content>